:root {
  font-family: "Didact Gothic", sans-serif;
  font-size: 16px;
  --one: #252323;
  --two: #70798c;
  --three: #474d59;
  --four: #b7bbc5;
  --five: #8e95a4;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--one);
}

button {
  all: unset;
  cursor: pointer;
}

input {
  all: unset;
}

.container {
  height: 90vh;
  width: 90vw;
  border-radius: 5rem;
  overflow: hidden;
  display: flex;
}

.side {
  width: 25%;
  height: 100%;
  background-color: var(--three);
  padding-left: 50px;
  padding-top: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content {
  height: 100%;
  width: 75%;
  background-color: var(--two);
  padding: 2rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 95%;
}

.search-bar {
  width: 80%;
}

.search-button {
  height: 50px;
  width: 50px;
}

.rain-icon,
.condition-icon {
  height: 30px;
  width: 30px;
}

.search-button,
.rain-icon,
.condition-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder {
  color: black;
  opacity: 1;
}

.side-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  border-bottom: 1px lightgray solid;
  padding-bottom: 1rem;
  margin-right: 10%;
}

.temp-display {
  font-size: 80px;
  display: flex;
  justify-content: center;
}

.tiny {
  font-size: 60px;
}

#weather-icon {
  width: 250px;
  height: 250px;
}

.date-display {
  font-size: 2rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.time {
  font-size: 2rem;
  font-weight: 100;
}

.rain-measure,
.weather-condition {
  display: flex;
  align-items: center;
}

.location {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  border-radius: 2rem;
  width: 90%;
  height: 90px;
  background-image: url("../src/assets/city-skyline.jpg");
  background-size: auto;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.extra-info,
.extra-container {
  width: 100%;
  height: 100%;
}

.extra-container {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 75%;
}

.extra-container > div {
  background-color: var(--five);
  width: 200px;
  height: 300px;
  border-radius: 2rem;
}

.common-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  height: 30%;
}

.flag > img {
  width: 50px;
  height: 50px;
}

.common-city {
  height: 100%;
  width: 15%;
  background-color: var(--four);
  border-radius: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.common-city:hover {
  cursor: pointer;
}
